body{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color:#8a71c9;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
  }
  
  h2{
    color:#2a0074;
    font-size: 40px;
  }
  
  .titulo-verde{
    color:#04ff9f;
  }
  
  .titulo-vermelho{
    color:#FF9E9E;
  }
  
  .titulo-amarelo{
    color:#ffe36d;
  }
  
  section{
      max-width: 70%%;
      margin:0 auto;
  }
  
  h1{
    font-size: 60px;
    font-weight: normal;
      }
  
  h3{
    font-size: 60px;
    font-weight: 300;
  }
  
  p{
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
    text-indent: 1.5em;
    margin-top: 0 }
  }
  
  img{
    width: 100%;
  }
   
  .titulo-verde{
    color:#04ff9f;
  }
    .titulo-vermelho{
      color:#FF9E9E  
  }
    .titulo-amarelo{
      color:#ffe36d  
  }
  
  section{
    max-width:60%;
    margin: 0 auto;
  }
  
  section section{
    width: 100%;
  }
  
  ul{
    list-style-type: none;
    font-weight: 700;
    padding-left: 0;
  }
  
  a:link 
  { 
   text-decoration:none; 
   color:#99ffff;
   line-height: 2;
  } 
  .principal{
    background: #ff6cb5;
    height: 40px;
    max-width:40%;
    margin: 0 auto;
  }
  
  .principal a{
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
  }
  .principal li{
    display: inline-block;  
    line-height: 2.5;
    margin: 0 89px;
  
  button{
   background: #41f341;
   border: 1px solid transparent;
   padding: 2px 20px;
   border-radius: 3px;
  }